!!! 5
%html
  %head
    %title Away Day South America Submission
    != css :awayday
    != css :hint
  %body
    #header-container
      %a{:href => "/"}
        %img{:src => "images/away_day_logo.jpg"}
      #faq
        %a{:href => "/faq", :title => "See the frequently asked questions"} Faq
    #message_container
      =haml :notice
      =haml :error, :locals => {:errors => session[:errors]}
    = yield
