!!! 5
%html
  %head
    %title Away Day South America Submission
    != css :awayday
    != css :hint
  %body
    #header-container
      %a{:href => "/"}
        %h1.headline Away Day South America
      #faq
        %a{:href => "/faq", :title => "See the frequently asked questions"} Faq
    #message_container
      =haml :notice
      =haml :error, :locals => {:errors => session[:errors]}
    = yield
